<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="jumbotron text-xs-center">
    <h1 class="display-3">Thank You! {{ nom }}</h1>
    <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
    <hr>
    <p>
        Having trouble? <a href="">Contact us : +216 2034 5688</a>
    </p>
    <p class="lead">
    <center>NO PAIN NO GAIN</center>
    </p>
</div>
</body>
</html>
